<!-- Header Section Start -->
<div class="header-section section">

    <!-- Header Top Start -->
    <div class="header-top header-top-one bg-theme-two">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col mt-10 mb-10 d-none d-md-flex">
                    <!-- Header Top Left Start -->
                    <div class="header-top-left">
                        <p>Welcome to ATN</p>
                        <p>Hotline: <a href="tel:0123456789">0123 456 789</a></p>
                    </div><!-- Header Top Left End -->
                </div>

                <div class="col mt-10 mb-10">
                    <!-- Header Shop Links Start -->
                    <div class="header-top-right">
                        {{{displayHeader}}}
                    </div><!-- Header Shop Links End -->
                </div>

            </div>
        </div>
    </div><!-- Header Top End -->

    <!-- Header Bottom Start -->
    <div class="header-bottom header-bottom-one header-sticky">
        <div class="container-fluid">
            <div class="row menu-center align-items-center justify-content-between">

                <div class="col mt-15 mb-15">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a href="/index">
                            <img width="150" src="../../public/assets/images/logo.png" alt="Jadusona">
                        </a>
                    </div><!-- Logo End -->
                </div>

                <div class="col order-2 order-lg-3">
                    <!-- Header Advance Search Start -->
                    <div class="header-shop-links">

                        <div class="header-search">
                            <button class="search-toggle"><img src="../../public/assets/images/icons/search.png"
                                                               alt="Search Toggle"><img class="toggle-close"
                                                                                        src="../../public/assets/images/icons/close.png"
                                                                                        alt="Search Toggle"></button>
                            <div class="header-search-wrap">
                                <form action="#">
                                    <input type="text" placeholder="Type and hit enter">
                                    <button><img src="../../public/assets/images/icons/search.png" alt="Search">
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="header-mini-cart">
                            <a href="/cart"><img src="../../public/assets/images/icons/cart.png" alt="Cart"> <span>Shopping Cart</span></a>
                        </div>

                    </div><!-- Header Advance Search End -->
                </div>

                <div class="col order-3 order-lg-2">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/index">HOME</a></li>
                                <li><a href="/products">SHOP</a></li>
                                <li><a href="/cart">Cart</a></li>
                                {{{manageProduct}}}
                                <li><a href="#">PAGES</a>
                                    <ul class="sub-menu">
                                        {{{accountDisplay}}}
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header BOttom End -->

</div><!-- Header Section End -->

<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url(../../public/assets/images/hero/hero-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">
                <h1>Enjoy Shopping</h1>
                <ul class="page-breadcrumb">
<!--                    <li><a href="/user">My Account</a></li>-->
                    <li><a href="/products">Shopping Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->
